services:
  app:
    container_name: app
    build: .
    ports:
      - 7860:7860
    volumes:
      - .:/code
    environment:
      - DATABASE_URL=postgresql://postgres:root@postgres:5432/rag_chatbot_dev
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - local_network

  postgres:
    container_name: postgres
    image: pgvector/pgvector:pg16
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: rag_chatbot_dev
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - local_network

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    volumes:
      - ./data/ollama:/root/.ollama
    networks:
      - local_network

networks:
  local_network:
    driver: bridge
